div {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(5, auto);
    width: 100%;
    padding-bottom: 2rem;
}

#time {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

img {
    width: 3rem;
}

#temp-and-main {
    font-size: 9pt;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

#icon {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 6;
}

table {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 6;
    font-size: 8pt;
}

td {
    border-radius: 8px;
    text-align: center;
}

.key-col {
    font-weight: bold;
    text-align: left;
}
