<span id="time"></span>
<span id="temp-and-main"></span>
<img id="icon"/>
<table>
    <tr>
        <td class="key-col" id="feels_like-key">Feels Like:</td>
        <td id="feels_like-val"></td>
        <td class="key-col" id="aqi-key">AQI:</td>
        <td id="aqi-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="clouds-key">Clouds:</td>
        <td id="clouds-val"></td>
        <td class="key-col" id="uvi-key">UVI:</td>
        <td id="uvi-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="humidity-key">Humidity:</td>
        <td id="humidity-val"></td>
        <td class="key-col" id="wind_speed-key">Wind Speed:</td>
        <td id="wind_speed-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="dew_point-key">Dew Point:</td>
        <td id="dew_point-val"></td>
        <td class="key-col" id="wind_deg-key">Wind Direction:</td>
        <td id="wind_deg-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="pressure-key">Pressure:</td>
        <td id="pressure-val"></td>
        <td class="key-col" id="wind_gust-key">Wind Gust:</td>
        <td id="wind_gust-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="pop-key">% Rain:</td>
        <td id="pop-val"></td>
        <td class="key-col" id="visibility-key">Visibility:</td>
        <td id="visibility-val"></td>
    </tr>
    <tr id="rain-snow-row">
    </tr>
</table>
