<span id="time"></span>
<img id="icon" />
<span id="temp-and-main"></span>
<table>
    <tr>
        <td id="feels_like-key" class="key-col">Feels Like:</td>
        <td id="feels_like-val"></td>
        <td id="uvi-key" class="key-col">UVI:</td>
        <td id="uvi-val"></td>
    </tr>
    <tr>
        <td id="clouds-key" class="key-col">Clouds:</td>
        <td id="clouds-val"></td>
        <td id="visibility-key" class="key-col">Visibility:</td>
        <td id="visibility-val"></td>
    </tr>
    <tr>
        <td id="pressure-key" class="key-col">Pressure:</td>
        <td id="pressure-val"></td>
        <td id="wind_speed-key" class="key-col">Wind Speed:</td>
        <td id="wind_speed-val"></td>
    </tr>
    <tr>
        <td id="humidity-key" class="key-col">Humidity:</td>
        <td id="humidity-val"></td>
        <td id="wind_deg-key" class="key-col">Wind Direction:</td>
        <td id="wind_deg-val"></td>
    </tr>
    <tr>
        <td id="dew_point-key" class="key-col">Dew Point:</td>
        <td id="dew_point-val"></td>
        <td id="wind_gust-key" class="key-col">Wind Gust:</td>
        <td id="wind_gust-val"></td>
    </tr>
    <tr>
        <td id="pop-key" class="key-col">% Rain:</td>
        <td id="pop-val"></td>
        <td id="aqi-key" class="key-col">AQI:</td>
        <td id="aqi-val"></td>
    </tr>
    <tr id="rain-snow-row">
    </tr>
</table>
