<h6 id="aqi-title">Air Quality</h6>
<h2 id="aqi"></h2>

<table id="pollutants">
    <tr>
        <td id="pollutant-co" class="key-col" title="Carbon monoxide">CO:</td>
        <td id="pollutant-co-val" title="Carbon monoxide"></td>
        <td id="pollutant-no" class="key-col" title="Nitrogen monoxide">NO:</td>
        <td id="pollutant-no-val" title="Nitrogen monoxide"></td>
    </tr>
    <tr>
        <td id="pollutant-no2" class="key-col" title="Nitrogen dioxide">NO<sub>2</sub>:</td>
        <td id="pollutant-no2-val" title="Nitrogen dioxide"></td>
        <td id="pollutant-o3" class="key-col" title="Ozone">O<sub>3</sub>:</td>
        <td id="pollutant-o3-val" title="Ozone"></td>
    </tr>
    <tr>
        <td id="pollutant-so2" class="key-col" title="Sulphur dioxide">SO<sub>2</sub>:</td>
        <td id="pollutant-so2-val" title="Sulphur dioxide"></td>
        <td id="pollutant-pm2_5" class="key-col" title="Fine particles matter">PM<sub>2.5</sub>:</td>
        <td id="pollutant-pm2_5-val" title="Fine particles matter"></td>
    </tr>
    <tr>
        <td id="pollutant-pm10" class="key-col" title="Coarse particulate matter">PM<sub>10</sub>:</td>
        <td id="pollutant-pm10-val" title="Coarse particulate matter"></td>
        <td id="pollutant-nh3" class="key-col" title="Ammonia">NH<sub>3</sub>:</td>
        <td id="pollutant-nh3-val" title="Ammonia"></td>
    </tr>
</table>
