div {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
}

h6, h1 {
    margin: 0;
    padding: 0;
}
