div {
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

table {
    width: 100%;
    font-size: 8pt;
}

tbody {
    width: 100%;
}

td {
    width: 25%;
    border-radius: 8px;
    text-align: center;
}

.key-col {
    font-weight: bold;
    text-align: left;
}
