<table id="weather-details">
    <tr>
        <td id="clouds-key" class="key-col">Clouds:</td>
        <td id="clouds-val"></td>
        <td id="uvi-key" class="key-col">UVI:</td>
        <td id="uvi-val"></td>
    </tr>
    <tr>
        <td id="humidity-key" class="key-col">Humidity:</td>
        <td id="humidity-val"></td>
        <td id="wind_speed-key" class="key-col">Wind Speed:</td>
        <td id="wind_speed-val"></td>
    </tr>
    <tr>
        <td id="dew_point-key" class="key-col">Dew Point:</td>
        <td id="dew_point-val"></td>
        <td id="wind_deg-key" class="key-col">Wind Direction:</td>
        <td id="wind_deg-val"></td>
    </tr>
    <tr>
        <td id="pressure-key" class="key-col">Pressure:</td>
        <td id="pressure-val"></td>
        <td id="wind_gust-key" class="key-col">Wind Gust:</td>
        <td id="wind_gust-val"></td>
    </tr>
    <tr>
        <td id="sunrise-key" class="key-col">Sunrise:</td>
        <td id="sunrise-val"></td>
        <td id="visibility-key" class="key-col">Visibility:</td>
        <td id="visibility-val"></td>
    </tr>
    <tr>
        <td id="sunset-key" class="key-col">Sunset:</td>
        <td id="sunset-val"></td>
    </tr>
    <tr id="rain-snow-row">
    </tr>
</table>

<div class="modal">
    <div class="modal-content">
    </div>
</div>
