#current-weather-parent {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 70% 30%;
}

#left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

#right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

#bottom {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

h1, h3, h5 {
    margin: 0;
    padding: 0rem 0rem 0.5rem 0rem;
    display: block;
}

img {
    width: 6rem;
    float: right;
}

.btn {
    background: none;
    border: none;
    cursor: pointer;
}

#temp-link, #temp-link:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: pointer;
}

@media screen and (max-width: 1280px) {
    #current-weather-parent {
        grid-template-columns: 70% 30%;
        grid-template-rows: 80% 20%;
    }

    #left {
        font-size: smaller;
    }

    img {
        width: 4rem;
    }

    h1, h3, h5 {
        padding: 0rem;
    }
}
