<span id="time"></span>
<span id="main"></span>
<img id="icon"/>
<table>
    <thead>
        <tr>
            <th colspan="2">Temps</th>
            <th colspan="2">Feels Like</th>
            <th colspan="4">Weather</th>
            <th colspan="2">Sun & Moon</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td id="morn_temp-key" class="key-col">Morning:</td>
            <td id="morn_temp-val"></td>
            <td id="morn_feels_like-key" class="key-col">Morning:</td>
            <td id="morn_feels_like-val"></td>
            <td id="clouds-key" class="key-col">Clouds:</td>
            <td id="clouds-val"></td>
            <td id="uvi-key" class="key-col">UVI:</td>
            <td id="uvi-val"></td>
            <td id="sunrise-key" class="key-col">Sunrise:</td>
            <td id="sunrise-val"></td>
        </tr>
        <tr>
            <td id="day_temp-key" class="key-col">Daytime:</td>
            <td id="day_temp-val"></td>
            <td id="day_feels_like-key" class="key-col">Daytime:</td>
            <td id="day_feels_like-val"></td>
            <td id="humidity-key" class="key-col">Humidity:</td>
            <td id="humidity-val"></td>
            <td id="wind_speed-key" class="key-col">Wind Speed:</td>
            <td id="wind_speed-val"></td>
            <td id="sunset-key" class="key-col">Sunset:</td>
            <td id="sunset-val"></td>
        </tr>
        <tr>
            <td id="eve_temp-key" class="key-col">Evening:</td>
            <td id="eve_temp-val"></td>
            <td id="eve_feels_like-key" class="key-col">Evening:</td>
            <td id="eve_feels_like-val"></td>
            <td id="dew_point-key" class="key-col">Dew Point:</td>
            <td id="dew_point-val"></td>
            <td id="wind_deg-key" class="key-col">Wind Direction:</td>
            <td id="wind_deg-val"></td>
            <td id="moonrise-key" class="key-col">Moonrise:</td>
            <td id="moonrise-val"></td>
        </tr>
        <tr>
            <td id="night_temp-key" class="key-col">Nighttime:</td>
            <td id="night_temp-val"></td>
            <td id="night_feels_like-key" class="key-col">Nighttime:</td>
            <td id="night_feels_like-val"></td>
            <td id="pressure-key" class="key-col">Pressure:</td>
            <td id="pressure-val"></td>
            <td id="wind_gust-key" class="key-col">Wind Gust:</td>
            <td id="wind_gust-val"></td>
            <td id="moonset-key" class="key-col">Moonset:</td>
            <td id="moonset-val"></td>
        </tr>
        <tr>
            <td id="min_temp-key" class="key-col">Min:</td>
            <td id="min_temp-val"></td>
            <td></td>
            <td></td>
            <td id="pop-key" class="key-col">% Rain:</td>
            <td id="pop-val"></td>
            <td></td>
            <td></td>
            <td id="moonphase-key" class="key-col">Moon Phase:</td>
            <td id="moonphase-val"></td>
        </tr>
        <tr id="rain-snow-row">
            <td id="max_temp-key" class="key-col">Max:</td>
            <td id="max_temp-val"></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>
