<span id="time"></span>
<span id="main"></span>
<img id="icon"/>
<table>
    <thead>
    <tr>
        <th colspan="2">Temps</th>
        <th colspan="2">Feels Like</th>
        <th colspan="4">Weather</th>
        <th colspan="2">Sun & Moon</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="key-col" id="morn_temp-key">Morning:</td>
        <td id="morn_temp-val"></td>
        <td class="key-col" id="morn_feels_like-key">Morning:</td>
        <td id="morn_feels_like-val"></td>
        <td class="key-col" id="clouds-key">Clouds:</td>
        <td id="clouds-val"></td>
        <td class="key-col" id="uvi-key">UVI:</td>
        <td id="uvi-val"></td>
        <td class="key-col" id="sunrise-key">Sunrise:</td>
        <td id="sunrise-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="day_temp-key">Daytime:</td>
        <td id="day_temp-val"></td>
        <td class="key-col" id="day_feels_like-key">Daytime:</td>
        <td id="day_feels_like-val"></td>
        <td class="key-col" id="humidity-key">Humidity:</td>
        <td id="humidity-val"></td>
        <td class="key-col" id="wind_speed-key">Wind Speed:</td>
        <td id="wind_speed-val"></td>
        <td class="key-col" id="sunset-key">Sunset:</td>
        <td id="sunset-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="eve_temp-key">Evening:</td>
        <td id="eve_temp-val"></td>
        <td class="key-col" id="eve_feels_like-key">Evening:</td>
        <td id="eve_feels_like-val"></td>
        <td class="key-col" id="dew_point-key">Dew Point:</td>
        <td id="dew_point-val"></td>
        <td class="key-col" id="wind_deg-key">Wind Direction:</td>
        <td id="wind_deg-val"></td>
        <td class="key-col" id="moonrise-key">Moonrise:</td>
        <td id="moonrise-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="night_temp-key">Nighttime:</td>
        <td id="night_temp-val"></td>
        <td class="key-col" id="night_feels_like-key">Nighttime:</td>
        <td id="night_feels_like-val"></td>
        <td class="key-col" id="pressure-key">Pressure:</td>
        <td id="pressure-val"></td>
        <td class="key-col" id="wind_gust-key">Wind Gust:</td>
        <td id="wind_gust-val"></td>
        <td class="key-col" id="moonset-key">Moonset:</td>
        <td id="moonset-val"></td>
    </tr>
    <tr>
        <td class="key-col" id="min_temp-key">Min:</td>
        <td id="min_temp-val"></td>
        <td></td>
        <td></td>
        <td class="key-col" id="pop-key">% Rain:</td>
        <td id="pop-val"></td>
        <td></td>
        <td></td>
        <td class="key-col" id="moonphase-key">Moon Phase:</td>
        <td id="moonphase-val"></td>
    </tr>
    <tr id="rain-snow-row">
        <td class="key-col" id="max_temp-key">Max:</td>
        <td id="max_temp-val"></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
