@media (prefers-color-scheme: dark) {
    * {
        background-color: #333;
        color: white;
    }

    .tile {
        box-shadow: 0px 0px 20px 0px #222;
    }

    .alerts-tile {
        box-shadow: 0px 0px 20px 0px darkred;
    }

    .aqi-good {
        background-color: green;
        box-shadow: 0px 0px 20px 0px green;
    }

    .aqi-fair {
        background-color: gold;
        box-shadow: 0px 0px 20px 0px gold;
    }

    .aqi-moderate {
        background-color: orange;
        box-shadow: 0px 0px 20px 0px orange;
    }

    .aqi-poor {
        background-color: crimson;
        box-shadow: 0px 0px 20px 0px crimson;
    }

    .aqi-very-poor {
        background-color: purple;
        box-shadow: 0px 0px 20px 0px purple;
    }

}
